body {
  background-image: url("https://i.imgur.com/HzB1I3M.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  color: rgb(213, 243, 124);
  font-size: 5vmin;
  padding: 2vmin;
  text-align: center;
  width: 100%;
  font-family: "Chilanka";
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px yellowgreen;
}
h1 {
  color: rgb(213, 243, 124);
  font-size: 3vmin;
  padding: 2vmin;
  text-align: center;
  width: 100%;
  font-family: "Chilanka";
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px yellowgreen;
}
.board {
  margin: 0 15vmin;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 15px;
}
.box {
  background-color: rgb(113, 153, 51);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* justify-items: center; */
  text-align: center;
  border: 0.4vmin solid rgb(34, 86, 184);
  color: black;
  border-radius: 1vmin;
  outline: none;
  font-family: "Chilanka";
  font-weight: bold;
  color: rgb(34, 86, 184);
  font-size: 10vmin;
  padding-top: 3vmin;
}

.reset {
  text-align: center;
}

#replay {
  font-size: 2vmin;
  font-weight: bold;
  font-family: "Chilanka";
  padding: 2vmin;
  margin-top: 4vmin;
  border: 0.3vmin solid rgb(34, 86, 184);
  color: rgb(34, 86, 184);
  border-radius: 2vmin;
  outline: none;
  cursor: pointer;
  background-color: rgb(113, 153, 51);
  opacity: 0.9;
  visibility: hidden;
}
#replay:hover {
  background-color: rgb(99, 190, 99);
  color: rgb(34, 86, 184);
}
